.about-container {
}

.about-content {
    display: flex;
    flex-direction: row;
    margin: 50px 0 50px 0;
}

.about-title {
    display: flex;
    flex-direction: column;
    flex: 1;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-left: 5px;
}

.about-title img {
    width: 50px;
    height: 50px;
}

.about-text {
    display: flex;
    flex: 5;
    flex-direction: column;
    margin-right: 5vw;
    margin-left: 5vw;
    font-size: 20px;
}

@media screen and (min-width: 800px) {
    .about-text {
        display: flex;
        flex: 1;
        flex-direction: column;
    }
}

@media screen and (max-width: 800px) {
    .about-text {
        display: flex;
        flex: 3;
        flex-direction: column;
    }
}

@media screen and (max-width: 600px) {
    .about-text {
        display: flex;
        flex: 5;
        flex-direction: column;
    }
}
  