.navbar-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar-buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    list-style: none;
    width: 100vw;
    padding: 0;
}

.navbar-buttons button {
    font-size: x-large;
    background-color: transparent;
    border: none;
    color: #fff;
    padding: 10px;
    cursor: pointer;
}

.navbar-buttons button:first-child {
    text-decoration: underline;
}
